In [2]:
import pandas as pd
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [5]:
import pandas as pd
df = pd.read_csv("healthcare-dataset-stroke-data.csv")
df.set_index('id', inplace=True)

In [7]:
print(df.head(5))

       gender   age  hypertension  heart_disease ever_married      work_type  \
id
9046     Male  67.0             0              1          Yes        Private
51676  Female  61.0             0              0          Yes  Self-employed
31112    Male  80.0             0              1          Yes        Private
60182  Female  49.0             0              0          Yes        Private
1665   Female  79.0             1              0          Yes  Self-employed

      Residence_type avg_glucose_level   bmi   smoking_status  stroke
id
9046           Urban           £228.69  36.6  formerly smoked       1
51676          Rural           £202.21   NaN     never smoked       1
31112          Rural           £105.92  32.5     never smoked       1
60182          Urban           £171.23  34.4           smokes       1
1665           Rural           £174.12  24.0     never smoked       1

In [8]:
print(df.tail(5))

       gender   age  hypertension  heart_disease ever_married      work_type  \
id
18234  Female  80.0             1              0          Yes        Private
44873  Female  81.0             0              0          Yes  Self-employed
19723  Female  35.0             0              0          Yes  Self-employed
37544    Male  51.0             0              0          Yes        Private
44679  Female  44.0             0              0          Yes       Govt_job

      Residence_type avg_glucose_level   bmi   smoking_status  stroke
id
18234          Urban            £83.75   NaN     never smoked       0
44873          Urban           £125.20  40.0     never smoked       0
19723          Rural            £82.99  30.6     never smoked       0
37544          Rural           £166.29  25.6  formerly smoked       0
44679          Urban            £85.28  26.2          Unknown       0

In [13]:
print(df.loc[99])

gender                     Female
age                          69.0
hypertension                    0
heart_disease                   0
ever_married                  Yes
work_type                Govt_job
Residence_type              Urban
avg_glucose_level          £82.81
bmi                          28.0
smoking_status       never smoked
stroke                          1
Name: 4639, dtype: object

In [15]:

print(df.index[99])

4639

In [16]:
print(df.max())

gender                  Other
age                      82.0
hypertension                1
heart_disease               1
ever_married              Yes
work_type            children
Residence_type          Urban
avg_glucose_level      £99.97
bmi                      97.6
smoking_status         smokes
stroke                      1
dtype: object

In [21]:

distinct_work_types = df['work_type'].nunique()

print(distinct_work_types)

5

In [22]:
count = df["gender"].value_counts()
print(count)

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [31]:
df['avg_glucose_level'] = df['avg_glucose_level'].replace('£', '')
df['avg_glucose_level'] = pd.to_numeric(df['avg_glucose_level'], errors='coerce')
average_glucose = df.groupby('gender')['avg_glucose_level'].mean()
print(average_glucose)

gender
Female    104.057809
Male      109.088520
Other     143.330000
Name: avg_glucose_level, dtype: float64

In [32]:
print(df.describe())

               age  hypertension  heart_disease  avg_glucose_level  \
count  5110.000000   5110.000000    5110.000000        5110.000000
mean     43.226614      0.097456       0.054012         106.147677
std      22.612647      0.296607       0.226063          45.283560
min       0.080000      0.000000       0.000000          55.120000
25%      25.000000      0.000000       0.000000          77.245000
50%      45.000000      0.000000       0.000000          91.885000
75%      61.000000      0.000000       0.000000         114.090000
max      82.000000      1.000000       1.000000         271.740000

               bmi       stroke
count  4909.000000  5110.000000
mean     28.893237     0.048728
std       7.854067     0.215320
min      10.300000     0.000000
25%      23.500000     0.000000
50%      28.100000     0.000000
75%      33.100000     0.000000
max      97.600000     1.000000

In [34]:
minimum = df["bmi"].min()
print(minimum)

10.3

In [35]:
Average = df["age"].mean()
print(Average)

43.226614481409

In [38]:
nullvalues = df.isnull().sum()

print(nullvalues)

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [40]:
min_age_index = df['age'].idxmin()
row_with_min_age = df.loc[min_age_index]

print(row_with_min_age)

gender                 Female
age                      0.08
hypertension                0
heart_disease               0
ever_married               No
work_type            children
Residence_type          Urban
avg_glucose_level      139.67
bmi                      14.1
smoking_status        Unknown
stroke                      0
Name: 47350, dtype: object